.main {
  max-width: 800px;
  margin: auto;
}

.web {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 5em;
}

.web h1 {
  margin-bottom: 1em;
  color: royalblue;
}

form > div {
  margin-bottom: 1em;
}

.input {
  border: 2px solid black;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

.error {
  color: red;
  border-color: red;
}

.error-reason {
  color: royalblue;
}

.monospace {
  font-family: 'Courier New', Courier, monospace;
}

.script {
  font-family: cursive;
}

.print {
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid black;
  padding: 15px;
  padding-bottom: 100px;
  margin-bottom: 5em;
}

@media print {
  .web {
    display: none;
  }

  .main {
    max-width: none;
  }

  .print {
    border: none;
    padding: auto;
  }
}
