body {
  background-color: #fbfbfb;
}

.main {
  max-width: 800px;
  margin: auto;
}

.web {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0;
}

.web h1 {
  margin-bottom: 1em;
  color: royalblue;
}

form > div {
  margin-bottom: 1em;
}

.input {
  border: 2px solid black;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
}

.error {
  color: red;
  border-color: red;
}

.error-reason {
  color: royalblue;
}

.monospace {
  font-family: 'Courier New', Courier, monospace;
}

.script {
  font-family: cursive;
}

.print {
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid darkgray;
  padding: 15px;
  padding-bottom: 100px;
  margin-bottom: 5em;
  transform: translateX(21px) rotate(-3deg);
  box-shadow: -5px -4px 7px lightgrey;
  min-width: 500px;
  background-color: white;
}

hr {
  border: 0.5px solid black;
}

@media print {
  .web {
    display: none;
  }

  .main {
    max-width: none;
  }

  .print {
    border: none;
    padding: 0;
    margin: 1em;
    transform: none;
    box-shadow: none;
  }
}
